<h1>TODO</h1>
<h3>Features</h3>
<ul>
    <li>Upload CSV in specified format to create routine. Maybe JSON structure for program so convert CSV to JSON?</li>
    <li>Superset exercises and show visually the exercises are supersets</li>
    <li>Create an exercise</li>
    <li>Create a routine folder that stores excercies</li>
    <li>Side navigation</li>
    <li>Make side navigation responsive</li>
    <li>Exercise model</li>
    <li>Exercise link and list exercises</li>
    <li>Searchable exercises</li>
    <li>Filterable exercises</li>
    <li>Identify active link</li>
    <li>Find and use new font</li>
    <li>Add logo and app name in navbar</li>
    <li>Learn about the router.events.subscribe (article in tabs)</li>
    <li>Inlcude images in exercise</li>
    <li>Article link acting as feed of articles, probably needs card UI component</li>
    <li>Look at what other fitness apps have functionality-wise. You want to explore the MEAN features more so keep that in mind</li>
    <li>History of workouts</li>
    <li>Starting a workout</li>
    <li>Authentication</li>
    <li>Express API layer for database CRUD with MongoDB</li>
    <li>Edit/update exercise</li>
    <li>Edit/update program</li>
    <li>Add exercise</li>
    <li>Add program</li>
    <li>When addings a program the programs exercises should list only what is in exercise list</li>
    <li>Either make the manage exerise change to add or update based on if exercise exists or make two separate pages</li>
    <li>Validate any forms in app</li>
    <li>Style forms</li>
    <li>Style lists</li>
    <li>Make two views of exercises, one as cards and other as grid</li>
    <li>todo</li>
    <li>todo</li>
    <li>todo</li>
</ul>