<h1>TODO</h1>
<h3>Features</h3>
<ul>
    <li>Upload CSV in specified format to create routine</li>
    <li>Superset exercises and show visually the exercises are supersets</li>
    <li>Create an exercise</li>
    <li>Create a routine folder that stores excercies</li>
    <li>Side navigation</li>
    <li>Make side navigation responsive</li>
    <li>Exercise model</li>
    <li>Exercise link and list exercises</li>
    <li>Searchable exercises</li>
    <li>Filterable exercises</li>
    <li>Identify active link</li>
    <li>Find and use new font</li>
    <li>Add logo and app name in navbar</li>
    <li>Learn about the router.events.subscribe (article in tabs)</li>
    <li>Inlcude images in exercise</li>
    <li>todo</li>
</ul>