<form [formGroup]="programForm" (ngSubmit)="onSubmit()">
    <!-- <div>
        <label>Name:</label>
        <input type="text" formControlName="name">        
    </div> -->
    <div id="exercise-list">
        <input type="text" id="program-name">
        <button type="button" (click)="addExercise()">Add Exercise</button>
        <div *ngFor="let n of numberOfExercises; let i = index" class="exercise">
            <mat-label>Exercise</mat-label>
            <select matNativeControl required>
              <option *ngFor="let e of exercises">{{e.name}}</option>
            </select>
            <button type="button" value="1" (click)="addSet($event)">Add Set</button>
                <table id="table{{i}}">
                    <thead>
                        <tr>
                            <th>Set</th>
                            <th>Reps</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            <input type="number">
                        </td>
                        <td>
                            <button type="button" (click)="deleteSet($event)">X</button>
                        </td>
                    </tr>
                </table>
        </div>
    </div>
    <button type="submit" [disabled]="programForm.invalid">Save</button>
</form>